@use '../variables' as *;

#cv-page {


    background-image: radial-gradient(circle, $accent-color 0%, transparent 8%);
    background-size: 25px 25px; /* Espacement des points */
    background-repeat: repeat;
    background-position: center center;

    animation: pulse 30s infinite ease-in-out; /* Animation respiration */

    @media (max-width: 750px) {
        padding: 7rem 5% 10% 5%;
    }

    .gradient {
        background: $background-color;
        background: radial-gradient(circle, rgba(10,10,10,0) 0%, $background-color 90%);
    }

    .content {
        padding: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 3rem;
    }

    img {
        width: 50%;
        height: 100%;
        border: none;

        @media (max-width: 700px) {
            width: 100%;

        }
    }

    .btn-hero {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        @media (max-width: 350px) {
            flex-direction: column;
            gap: 1rem;
        }
    }
        
}