@use '../variables' as *;

#competences {
    .competences-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); // 4 colonnes max
        gap: 2rem;
        justify-items: stretch; // Étend les éléments sur toute la largeur dispo

        @media (max-width: 700px) {
            grid-template-columns: repeat(3, 1fr); // 4 colonnes max
            gap: 1.5rem;
        }

        @media (max-width: 550px) {
            grid-template-columns: repeat(2, 1fr); // 4 colonnes max
            gap: 1rem;
        }
    }

    .competence-item {
        display: flex;
        align-items: center;
        justify-content: start;
        transition: transform 0.5s ease-in-out;
        border-bottom: 2px solid transparent; // Défaut transparent pour éviter les sauts

        &:hover {
            transform: scale(1.1);
        }

        p {
            font-family: $font-clash;
            font-size: clamp($paragraph-size, calc($paragraph-size + 20%), calc($paragraph-size + 0.2rem));
            padding: .75rem 0;
            text-align: start;
            font-weight: 400;
            text-transform: uppercase;
            width: 100%; // Pour s'assurer que le texte ne limite pas la bordure
        }
    }
}
