@use '../variables' as *;

#experiences {
    position: relative;
    
    &:before {
        position: absolute;
        content: '';
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle, $accent-color 0%, transparent 8%);
        background-size: 25px 25px; /* Espacement des points */
        background-repeat: repeat;
        background-position: center center;
    
        animation: pulse 30s infinite ease-in-out; /* Animation respiration */

        z-index: 1;
    }


    .gradient {
        position: relative;
        padding: $spacing-section 0;


        &:before {
            position: absolute;
            content: '';
            top:0;
            left: 0;
            width: 100%;
            height: 100%;

            background: $background-color;
            background: radial-gradient(circle, rgba(10,10,10,0) 0%, $background-color 90%);
            z-index: 2;
        }
        

        .experiences-container {
            justify-content: center;
            gap: 2rem;
            position: relative;
            z-index: 3;

            .instruction-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;
          
                .instruction {
                  text-align: center;
                  margin: 0 1rem;
                  font-weight: 200;
                  font-size: 0.8rem;
                  margin-bottom: 0.5rem
                }
                
                .instruction-arrow {
                  font-size: 1rem;
                  color: $white-text; /* Choisissez la couleur que vous préférez */
                  margin: 5px 0;
                  font-weight: 200;
          
                  &.bottom-arrow {
                    margin-top: 0px; /* Ajuste l'espacement entre la flèche et le texte */
                  }
                }
            }

            .experience-wrapper {
                display: flex; 
                flex-direction: column; 
              
                .experience-single {
                  background: linear-gradient(135deg, rgba(255, 255, 255, 0.04) 5%, $background-color, rgba(255, 255, 255, 0.04));
                  border: solid 1px rgb(39,39,42);
                  border-radius: 1rem;
                  padding: 2rem;
                  display: flex;
                  flex-direction: column;  /* Ajoute flex-direction: column pour organiser en colonne */
                  cursor: pointer;
                  transition: all 0.5s ease-in-out;

                  &:hover {
                    border-color: $accent-color;
                  }

                  @media (max-width: 700px) {
                    padding: 1.5rem;
                  }
                  
                  .img-exp-container {
                    max-height: 40px;
                    max-width: 150px;
              
                    img {
                      width: 100%;
                    }
                  }
              
                  .infos-experience {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;  /* Ajoute flex-direction: column pour organiser en colonne */
                    gap: 0.5rem;
                    
                    .more-infos {
                      max-height: 0;
                      opacity: 0;
                      overflow: hidden;
                      transition: all 0.5s ease-in-out;
                      padding-bottom: 1rem;
                    
                      &.open {
                        max-height: 1500px; // Ajuste selon la taille du contenu
                        opacity: 1;
                        padding-top: 1rem;
                      }
                    }
                    
              
                    p {
                      text-align: justify;
                      margin-top: .5rem;
                    }
              
                    .date {
                      color: $accent-color;
                      font-size: $paragraph-size;
                      font-weight: 400;
                      margin-top: -10px;
                    }
              
                    .liste {
                      padding-bottom: 1rem;

                      .titre-liste {
                        font-weight: 500;
                      }
              
                      ul {
                        margin-top: 0.5rem;
                        li {
                          color: $white;
                          padding-top: .5rem;
                          font-weight: 200;
                        }
                      }
                    }
              
                    a {
                      width: fit-content;
                      margin-top: auto; /* Assure que le bouton reste en bas */
                      margin-left: auto;
                    }
                  }
                }
            }
        }
    }
}