//realisation-display.scss

@use '../variables' as *;

.realisations-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    @media (max-width: 700px) {
        padding: 0;
    }

    .title-realisation {
        font-size: 1.5rem;
    }

    .realisation-single {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        border: solid 1px rgb(39,39,42);
        border-radius: 1rem;
        padding: 1rem;

        @media (max-width: 1000px) {
            flex-direction: column;

            .realisation-img {
                min-width: 100% !important;
                max-height: 250px;
            }
        }

        @media (max-width: 600px) {

            .realisation-img {
                min-width: 100% !important;
                max-height: 150px;
            }

            gap: 1rem;
        }

        .realisation-img {
            justify-content: center;
            display: flex;
            align-items: center;
            border-radius: 0.75rem;
            border: solid 1px rgb(39,39,42);
            aspect-ratio: 1/1;
            max-width: 20%;
            min-width: 200px;
            min-height: 200px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover; 
                border-radius: 0.75rem;

            }
        }

        .realisation-text {
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.04) 5%, $background-color, rgba(255, 255, 255, 0.04));
            border: solid 1px rgb(39,39,42);
            border-radius: .75rem;
            padding: 2rem;
            width: 100%;
            flex-direction: column;
            display: flex;
            justify-content: center;
            gap: 1rem;


            @media (max-width: 550px) {
                h3 {
                    font-size: calc($title-size - 30%) !important;
                }    
                
                p {
                    font-size: calc($paragraph-size - 1px);
                }
            }

            @media (max-width: 550px) {
                padding: 1.5rem;
            }

            .realisation-outils {
                @media (max-width: 700px) {
                    p {
                        font-size: calc($paragraph-size - 3px);
                    }

                    span {
                        margin-left: 5px !important
                    }
                }

                span {
                    color: darken($white, 50%);
                    margin-left: 10px;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        color: $white-text;
                    }
                }
            }
        }

        .realisation-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media (max-width: 550px) {

                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 1rem;
            }

            .btn-projet {
                // Ajouter ici des styles spécifiques si nécessaire pour les boutons projet
            }
        }
    }
}