//realisation-display.scss

@use '../variables' as *;

.realisations-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    .title-realisation {
        font-size: 1.5rem;
    }

    .realisation-single {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        border: solid 1px rgb(39,39,42);
        border-radius: 1rem;
        padding: 1rem;

        .realisation-img {
            justify-content: center;
            display: flex;
            align-items: center;
            border-radius: 0.75rem;
            border: solid 1px rgb(39,39,42);
            aspect-ratio: 1/1;
            max-width: 25%;
            min-width: 200px;
            min-height: 200px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover; 
                border-radius: 0.75rem;

            }
        }

        .realisation-text {
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.04) 5%, $background-color, rgba(255, 255, 255, 0.04));
            border: solid 1px rgb(39,39,42);
            border-radius: .75rem;
            padding: 2rem;
            width: 100%;
            flex-direction: column;
            display: flex;
            justify-content: center;
            gap: 1rem;

            .realisation-outils {
                span {
                    color: darken($white, 50%);
                    margin-left: 10px;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        color: $white-text;
                    }
                }
            }
        }

        .realisation-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .btn-projet {
                // Ajouter ici des styles spécifiques si nécessaire pour les boutons projet
            }
        }
    }
}