@use 'variables' as *;

.bouton, button {
    padding: 8px 15px;
    border-radius: 8px;
    background: $accent-color;
    color: $white;
    border: none;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: darken($accent-color, 10%);
        transform: translateY(-2px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}

.btn-live {
    position: relative;
    display: inline-flex;
    align-items: center; // Assure que tout est bien aligné
    color: $white-text !important;
    
    font-weight: 200 !important;

    &::after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;  // Ajuste selon ta préférence pour la largeur du trait
        height: 1px;
        background-color: $accent-color;  // Assure-toi que cette variable est bien définie
        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        color: $white;
    }

    &:hover::after {
        transform-origin: bottom left;
        transform: scaleX(1);
    }
}


