@use 'variables' as *;


#contact {
    background-color: $background-color;
    opacity: 1;
    background-image:  linear-gradient($accent-color 1px, transparent 1px), linear-gradient(to right, $accent-color 1px, $background-color 1px);
    background-size: 20px 20px;
    font-family: $font-outfit;

    .gradient {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
        padding: 5rem;
        background: $background-color;
        background: radial-gradient(circle, rgba(10,10,10,0) 0%, $background-color 70%);

        @media (max-width: 700px) {
            padding: 2.5rem;
        }

        @media (max-width: 500px) {
            padding: 1rem;
        }


        form {
            max-width: 600px;
            width: 100%;
    
            background: rgba(39, 39, 42, 0.5); 
            backdrop-filter: blur(6px); 
            -webkit-backdrop-filter: blur(10px); 
            border-radius: 12px;
    
            padding: 25px 25px 30px;
            color:$white-text;
            margin: 25px;
        
            h2, p {
                text-align: center;
            }
        
            .input-box{
                margin-top: 20px;
    
                .field {
                    background: rgba(10, 10, 10, 0.5); 
                    backdrop-filter: blur(6px); 
                    -webkit-backdrop-filter: blur(10px); 
                    border-radius: 8px;

                    border: solid 1px rgb(39, 39, 42);
                    width: 100%;
                    height: 50px;
                    outline: none;
                    padding: 15px;
                    font-size: $paragraph-size;
                    color: $white-text;
                    margin-top: 8px;
    
                    &.mess {
                        height:200px;
                        resize: none;
                    }

                    &::placeholder {
                        color: darken($white-text, 30%);
                        font-weight: 200;
                    }
                }
            } 

            button {
                margin: auto;
                display: flex;
                margin-top: 1rem;
                
            }
        }

    }

    
}


