// Modifier le nombre de colonnes Bootstrap
$grid-columns: 24;

.container-fluid {
    width: 90vw;
    max-width: 90vw;

    @media (max-width: 350px) {
        width: 95vw;
        max-width: 95vw;
    }
}



