@use 'variables' as *;

footer {
    background-color: $background-color;

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;            
        padding: 4rem;
        gap: 10px;


        h1 {
            color: $white;
        }

        .bottom-footer {
            margin-top: 3rem;
            padding-top: 1.5rem;

            border-top: 2px solid;
            -o-border-image: radial-gradient(circle, $accent-color, $accent-color, transparent, transparent) 1;
            border-image: radial-gradient(circle, $accent-color, $accent-color, transparent, transparent) 1;


            p {
                font-weight: 100;
            }
        }
    }
}