@use 'variables' as *;

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    

    button {
        color: $white-text;
        text-decoration: none;
        font-size: 1rem;
        transition: all 0.5s ease-in-out;
        font-weight: 200;
        background: none;
        font-family: $font-outfit;

        padding: 0;

        &:hover {
            color: lighten($white-text, 20%);
        }

        &.contact-btn {
            background: $accent-color;
            padding: 8px 15px;


            &:hover {
                background-color: darken($accent-color, 10%);
                transform: translateY(-2px);
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
            }
        
            &:active {
                transform: translateY(1px);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
        }
    }


    &.mobile {
        position: absolute;
        top: 70px;
        left: 50%;
        flex-direction: column;
        justify-content: center;
        transform: translateX(-50%);
        width: 100%;
    
        background: rgba(39, 39, 42, 0.5); 
        backdrop-filter: blur(6px) !important; 
        -webkit-backdrop-filter: blur(10px); 
        border-radius: 12px;
        gap: 25px;
        padding: 0; // Évite un affichage instantané du padding
        z-index: 999;
    
        max-width: 800px;
        width: 90%;
    
        max-height: 0;
        opacity: 0;
        overflow: hidden; // Ajout pour éviter le contenu visible avant animation
        transition: max-height 0.5s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
    
        button {
            font-weight: 300;
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }
    
        &.active {
            max-height: 350px;
            opacity: 1;
            padding: 25px; // Réintroduit le padding après animation
            transition: max-height 0.5s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
    
            button {
                opacity: 1;
                transition: opacity 0.3s ease-out 0.1s; // Petit délai pour un effet fluide
            }
        }
    }
    
}