@use 'variables' as *;
@use 'basics' as *;
@use 'fonts' as *;
@use 'custom' as *;
@use 'header' as *;
@use 'footer' as *;
@use 'logos-socials' as *;
@use 'scrollbar' as *;
@use 'headernav' as *;
@use 'titre-section' as *;
@use 'contact' as *;

@use '404' as *;

@use './homepage/hero' as *;
@use './homepage/experiences' as *;
@use './homepage/realisations' as *;
@use './homepage/formations' as *;
@use './homepage/timeline' as *;
@use './homepage/competences' as *;
@use './homepage/realisation-display' as *;

@use './page-realisation/introduction-realisations.scss';
@use './page-realisation/liste-realisations.scss';

@use './realisation-details/realisation-details.scss';

@import 'bootstrap/scss/bootstrap';

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px; /* Ajuste cette valeur selon le padding que tu veux */
  }

html, body {
    overflow-x: hidden;
}

html, #root, body {
    background-color: $background-color;
}

body {
    h1, h2, h3, h4 {
        margin: 0;
        font-family: $font-clash;
        color: $white-text;
    }

    p, a, li {
        font-family: $font-outfit;
        font-weight: 300;
        margin: 0;
        color: $white-text;
    }

    a {
        text-decoration: none;

        &:visited {
            color: $white-text;
        }
    }
}

section {
    margin: $spacing-section auto;

    &#hero {
        margin-top: 0 !important;
    }

    &#experiences {
        margin: calc($spacing-section / 2) auto !important;
    }

    &#competences {
        margin: calc($spacing-section * 2) auto !important;
    }

    &#realisation-details {
        margin: calc($spacing-section * 2) auto !important;
    }

    &#error {
        margin: calc($spacing-section * 2) auto !important;
    }

    @media (max-width: 700px) {
        &#competences {
            margin: 7rem auto 10% auto!important;
        }
    
        &#realisation-details {
            margin: 7rem auto 10% auto!important;
        }
    
        &#error {
            margin: 7rem auto 10% auto!important;
            padding: 0 2rem;
        }
    }
}

.swal2-popup {
    div {
        font-family: $font-outfit;
    }    
}

