// Couleurs :
$background-color: rgba(10, 10, 10, 1);

$main-color:#000;
$accent-color: rgb(0, 148, 141);
$accent-fade: #fff;

$black: #000;
$white: #fff;

// $white-text: rgb(212, 212, 212);
$white-text: rgb(255, 255, 255);

$black-text: rgb(10, 10, 10);


// Fonts :
$font-outfit: "Outfit", serif;
$font-clash: 'ClashDisplay-Variable';

// Textes :
$paragraph-size: 1rem;
$title-size: 1.5rem;

// Spacing :
$spacing-section: 5rem;
$spacing-title-content: 2rem;